body {
  background: #f2f4f7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.container {
  background: white;
  padding: 30px;
  width: 350px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
}

input {
  width: 100%;
  padding: 10px;
  margin: 15px 0;
}

button {
  width: 100%;
  padding: 10px;
  background: #0d47a1;
  color: white;
  border: none;
  border-radius: 5px;
}

#result {
  margin-top: 20px;
  font-weight: bold;
}
